APP_NAME=cms-be
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8080
APP_BASE_URL=http://127.0.0.1:8080

API_BASE_PATH=/api
API_VERSION=v1
API_PREFIX=/api/v1

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=cms_be
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

JWT_SECRET=change-me
JWT_EXPIRES_IN_HOURS=24

UPLOAD_DIR=storage/uploads
UPLOAD_DRIVER=local
ASSET_BASE_URL=https://files.heruoktafian.com/assets

ADMIN_SEED_NAME=Admin
ADMIN_SEED_EMAIL=admin@example.com
ADMIN_SEED_PASSWORD=change-me
